In [1]:
import pandas as pd
import numpy as np

In [2]:
def removeSpaces(string):
    string = string.replace(' ','')
    return string

def lowercase(string):
    string = string.lower()
    return string

In [3]:
dfBigMacI = pd.read_csv('bigmac.csv')
dfBigMacI['Year'] = pd.DatetimeIndex(dfBigMacI['date']).year

dfBigMac = dfBigMacI[['name', 'Year', 'dollar_price']]
dfBigMac = dfBigMac.loc[dfBigMac['Year'] == 2015]

dfBigMac['name'] = dfBigMac['name'].apply(removeSpaces)
dfBigMac['name'] = dfBigMac['name'].apply(lowercase)

listax = np.arange(805,848,1)

listamedia = []
for i in range(805, 848, 1):
    media = (dfBigMac['dollar_price'][i] + dfBigMac['dollar_price'][i + 43])/2
    listamedia.append(media)

dfBigMac['media'] = listamedia * 2
dfBigMac = dfBigMac.loc[listax,:]
dfBigMac = dfBigMac.drop('dollar_price', axis='columns', inplace=False)
paises = []
for pais in dfBigMac['name']:
    paises.append(pais)

In [4]:
dfObesidadeI = pd.read_csv('obesity-cleaned.csv')
dfObesidade = dfObesidadeI.loc[dfObesidadeI['Year'] == 2015]
dfObesidade = dfObesidade.loc[dfObesidade['Sex'] == 'Both sexes']
dfObesidade.drop('Sex', axis='columns', inplace=True)
dfObesidade.drop('Unnamed: 0', axis='columns', inplace=True)
dfObesidade['Country'] = dfObesidade['Country'].apply(removeSpaces)
dfObesidade['Country'] = dfObesidade['Country'].apply(lowercase)

listaindexO = list(dfObesidade.index)

paises1 = []
for pais in dfObesidade['Country']:
    paises1.append(pais)
    
i = 0
for pais in paises1:
    if pais in paises:
        i+=1
    elif pais not in paises:
        dfObesidade.drop(listaindexO[i], inplace=True)
        i+=1
        
i2 = 0
for pais in paises:
    if pais in paises1:
        i2+=1
    elif pais not in paises1:
        listax[i2]
        dfBigMac.drop(listax[i2], inplace=True)
        i2+=1

In [5]:
dfBigMac.sort_values(by=['name'], ascending=True)

            name  Year     media
806    argentina  2015  3.158583
807    australia  2015  4.120485
808       brazil  2015  4.744673
809       canada  2015  4.587777
811        chile  2015  3.307715
812        china  2015  2.753465
813     colombia  2015  3.128361
814    costarica  2015  4.021011
816      denmark  2015  5.227261
817        egypt  2015  2.232784
821      hungary  2015  3.175208
823        india  2015  1.859722
822    indonesia  2015  2.262144
824       israel  2015  4.539940
825        japan  2015  3.063643
829     malaysia  2015  2.060039
828       mexico  2015  3.231496
831   newzealand  2015  4.201095
830       norway  2015  5.973241
832     pakistan  2015  3.209803
833         peru  2015  3.232832
834  philippines  2015  3.637771
835       poland  2015  2.513024
837  saudiarabia  2015  3.063738
838    singapore  2015  3.482590
847  southafrica  2015  2.157906
827     srilanka  2015  2.634448
839       sweden  2015  5.048054
810  switzerland  2015  7.182832
840     thailand  2015  3.102330
841       turkey  2015  3.919149
843      ukraine  2015  1.374917
844      uruguay  2015  4.379395
846      vietnam  2015  2.778696

In [6]:
dfObesidade.sort_values(by=['Country'], ascending=True)

           Country  Year       Obesity (%)
876      argentina  2015  27.8 [23.2-32.7]
1128     australia  2015  28.4 [24.9-32.1]
3018        brazil  2015  21.6 [18.4-25.0]
4026        canada  2015  28.8 [25.3-32.4]
4404         chile  2015  27.5 [23.1-32.2]
4530         china  2015     5.9 [4.5-7.4]
4656      colombia  2015  21.9 [18.2-25.8]
5160     costarica  2015  25.0 [20.7-29.7]
6168       denmark  2015  19.3 [16.1-22.7]
6798         egypt  2015  31.3 [27.1-35.7]
9696       hungary  2015  25.9 [21.3-30.9]
9948         india  2015     3.7 [2.9-4.7]
10074    indonesia  2015     6.5 [4.8-8.5]
10578       israel  2015  25.8 [21.3-30.6]
10956        japan  2015     4.1 [3.2-5.3]
13098     malaysia  2015  14.9 [12.1-18.1]
13980       mexico  2015  28.3 [24.9-32.0]
15492   newzealand  2015  30.2 [26.9-33.5]
16122       norway  2015  22.6 [19.0-26.4]
16374     pakistan  2015    8.2 [6.0-10.8]
17004         peru  2015  19.3 [16.3-22.5]
17130  philippines  2015     6.2 [4.5-8.2]
17256       poland  2015  22.7 [19.3-26.1]
19146  saudiarabia  2015  34.7 [30.5-38.8]
19776    singapore  2015     6.0 [4.2-8.1]
20406  southafrica  2015  27.8 [24.3-31.3]
20784     srilanka  2015     4.9 [3.4-6.9]
21288       sweden  2015  20.2 [16.9-23.6]
21414  switzerland  2015  19.1 [15.7-22.7]
21792     thailand  2015    9.4 [7.0-12.2]
22548       turkey  2015  31.5 [27.9-35.2]
23052      ukraine  2015  23.7 [18.3-29.7]
23682      uruguay  2015  27.5 [22.5-32.7]
24186      vietnam  2015     2.0 [1.3-2.9]